* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.flex-col {
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  justify-content: space-between;
  height: 95vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: .5rem 2rem; */
  z-index: 1000;
}

nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 10px;
  padding-left: 30px;
}

/* nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
} */

a {
  text-decoration: none;
  color: #333;
}
/* 
ul {
  list-style: none;
} */

button {
  background-color: #333;
  color: #fff;
  margin: 1rem .2rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

button.outline {
  border: 1px solid #333;
  color: #333;
  background-color: #ebeaea;
}

.outline:hover {
  background-color: #ffffff;
}


.hero {
  padding: 300px 20px 50px ;
  text-align: center;
  background-color: #ebeaea;
}

.blue-green{
  color: #0d6efd;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
  margin: .5rem;
}

p {
  text-align: left;
  margin: .5rem;
}

p, li {
  line-height: 20px;
  padding: 2px auto;
}

.container {
  padding: .5rem 10rem;
  margin: .5rem auto;
  text-align: center;

  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

/* Certification */
#certifications ul{
  padding-left: 2rem;
  text-align: left;
}

.carousel-indicators [data-bs-target] {
  background-color: #151a10;
}


/* Projects */
#projects {
  /* background-color: #ebeaea; */
  /* margin: auto .5rem; */
  padding: .5rem 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  /* background-color: #ebeaea; */
}

.project-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: inherit;
  height: 200px; /* Fixed height for consistent card sizes */
  object-fit: cover; /* Ensure images fill the container */
}

.project-card a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.project-card a:hover {
  background-color: #f0f0f0;
}

.project img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.05);
}

/* Skills */
#skills {
  ul {
    list-style: none;
    text-align: left;
  }
}

/* Footer */
footer {
  position:relative;
  bottom: 0;
  width: 100%;

  padding: .5rem 2rem;
  margin-bottom: 0px;
}

.indent {
  padding-left: 3rem;
}

#darkModeToggle {
  background-color: #353535;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  margin: 0px;
}

#darkModeToggle:hover {
  background-color: #161616;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;

  a{
    color:#fff;
  }
}

body.dark-mode header {
  background-color: #444;
}

body.dark-mode nav a {
  color: #ececec;
}

body.dark-mode #darkModeToggle {
  background-color: #a7a7a7;
}

body.dark-mode #darkModeToggle:hover {
  background-color: #e7e7e7;
}

body.dark-mode .hero {
  background-color: #646464;
}

body.dark-mode .blue-green {
  color: #accf84;
}

body.dark-mode svg {
  fill: #fff;
}

body.dark-mode #root > div > footer{
  color: #fff;
}

body.dark-mode button {
  background-color: #555;
}

body.dark-mode button.outline {
  background-color: #d1d1d1;
  border: 1px solid #fff;
}

body.dark-mode button:hover {
  background-color: #777;
}

@media screen and (max-width: 992px) {
  .container {
    padding: .5rem 2rem !important;
  }
}

@media screen and (max-width: 800px) {
  .project-grid {
    display: flex;
    flex-direction: column;
    
    .project-card {
      margin-bottom: 2rem;
    }
  }
}
